APP_NAME=SQL Reader API
APP_HOST=0.0.0.0
APP_PORT=8000
APP_ENV=dev

# SQL Server connection
DB_HOST=192.168.1.46
DB_PORT=1433
DB_NAME=master
DB_USER=sa
DB_PASSWORD=S1stemas
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_TRUST_SERVER_CERTIFICATE=true
