APP_NAME=SQL Reader API
APP_HOST=0.0.0.0
APP_PORT=8000
APP_ENV=dev
APP_MODE=prod

# SQL Server connection
DB_HOST=192.168.1.46
DB_PORT=1433
DB_NAME=master
DB_USER=sa
DB_PASSWORD=S1stemas
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_TRUST_SERVER_CERTIFICATE=true

# Invoice API integration
INVOICE_API_BASE_URL=https://conectorsm.fullapps.us/api
INVOICE_API_TOKEN=pon_aqui_tu_token
INVOICE_SOURCE_DB=KardexVH
INVOICE_SOURCE_SCHEMA=dbo
FACTURAS_TABLE_PROD=Facturas
FACTURAS_DET_TABLE_PROD=facturas_det
FACTURAS_TABLE_TEST=facturas_test
FACTURAS_DET_TABLE_TEST=facturas_det_test
INVOICE_SOURCE_TABLE=Facturas
INVOICE_DETAIL_TABLE=facturas_det
INVOICE_DETAIL_JOIN_COLUMN=codigounico
INVOICE_COMPANY_ID=1
INVOICE_BRANCH_ID=1
INVOICE_SERIE_ID=1
INVOICE_TIPO_DOC_ID=1
INVOICE_MONEDA_ID=1
